<ion-header no-border>
  <ion-toolbar>


    <div class="container-fluid mt-1 p-4 d-flex justify-content-between navbar navbar-expand-lg navbar-light bg-light">
      <ion-title>LOGO</ion-title>
      <div class="d-grid gap-2 d-md-flex justify-content-md-end">
        <button class="btn btn-outline-info" type="submit">Dashboard</button>
        <button class="btn btn-outline-danger" type="submit">Logout</button>
      </div>
    </div>

    <!-- <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid d-flex justify-content-end ">
      <div class="logo">
        <a class="navbar-brand align-items-start" href="#">Navbar</a>
      </div>
      
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
       
        <form class="">
          <button class="btn btn-outline-success" type="submit">Dashboard</button>
          <button class="btn btn-outline-danger" type="submit">Dashboard</button>
        </form>
      </div>
    </div>
  </nav> -->
  </ion-toolbar>

</ion-header>
<!-- <table >
    <thead>
        <tr>
            <td>To</td>
            <td>date</td>
           
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Full name:</td>
            <td>Qualification</td>
            
           
        </tr>
      	<tr>
            <td>Qualification</td>
            <td>24/02/2021 13:00 PM</td>
            <td>Qualification</td>

           
        </tr>

        <tr>
          <td>Full name:</td>
          <td>Qualification</td>
          
         
      </tr>

      <tr>
        <td>Full name:</td>
        <td>Qualification</td>
        
       
    </tr>
    </tbody>
</table> -->

<ion-content>

  <ion-card style="background-color: #cae9ff;">
    <div class="p-2 " >
      <div class="row">
        <div class="col">
          <p>Card Number:</p>
        </div>
        <div class="col">
          <input class="rounded ms-5 mx-auto mt-3 " type="text" required>
        </div>

        <!-- Force next columns to break to new line -->
        <div class="w-100"></div>

        <div class="col">
          Cvv Number:
        </div>
        <div class="col">
          <input class="rounded ms-5 mx-auto mt-3 " type="text" required>
        </div>

        <!-- Force next columns to break to new line -->
        <div class="w-100"></div>

        <div class="col">
          Expiry Date:
        </div>
        <div class="col">
          <input class="rounded ms-5 mx-auto mt-3 " type="text" required>
        </div>


      </div>
    </div>


  </ion-card>






</ion-content>